<div class="container">
    <h5>Instructions</h5>
    <ul>
        <li>Do not take more than 20 minutes</li>
        <li>Enter in a descriptive help message describing why you are seeking help</li>
        <li>TAs who believe two students have similar-enough problems will invite both to a zoom call</li>
        <li>Leave your screen awake to receive a sound notification that you are being helped</li>
    </ul>
    <% if (admin) { %>
        You are admin
    <% } else { %>
        You are not admin
    <% } %>
</div>