<ul class="collection with-header">
  <li class="collection-header">
    <h4>TAs online</h4>
  </li>

  <li v-for="admin in admins" class="collection-item">
    {{ admin.name }}
    <% if (admin) { %>
    <a class="secondary-content" href="#" v-on:click="adminRemoveAdmin(admin.name)">
      remove
    </a>
    <% } %>
  </li>



  <% if (admin) { %>
  <li v-if="!onAdminList" class="collection-item">
    <a href="#" v-on:click="joinAdmin()">Admin: Join List Please</a>
  </li>
  <% } %>

</ul>